/* RTL setup*/
* {
    direction:rtl;
}

/* .rtl {
    direction: rtl; 
    text-align: right;
    unicode-bidi: bidi-override;
}

.ltr {
    direction: ltr; 
    text-align: left;
    unicode-bidi: bidi-override;
} */


/* fixing icons in headers */
.window-app .window-header i[class^=fa] {
    margin-left: 3px;
  }
